*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color:  #0F0D13;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 66px;
  gap: 32px;
}

.nameMusic{
  color: #E1E1E6;
  font-weight: 700;
  font-size: 24px;
}

.bandName{
  color: #E1E1E6;
  margin-top: 10px;
  font-weight: 400;
  font-size: 19px;
  opacity: 0.67;
}

button{
  background: none;
  cursor: pointer;
  border: none;
}

button i{
  font-size: 30px;
  color: white;
}

/*----- Player 1 -----*/
.player-1{
  background: #2A2141;
  border-radius: 10px;
  padding-inline: 38px;
  padding-block: 50px;
  max-width: 267px;
}

.albumImg-1{
  height: 190px;
  width: 190px;
  border-radius: 6px;
  margin-bottom: 28px;
}

.play-1{
  display: flex;
  justify-content: space-between;
  margin-block: 28px;
}

/*----- Player1 e player 2*/

.progress-bar {
  height: 6px;
  background-color: #5E586F;
  cursor: pointer;
  border-radius: 5px;
}

.progress {
  height: 6px;
  background-color: #D9D9D9;
  border-radius: 5px;
}

.musicTime{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.musicTime span{
  color: #C4C4CC;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.7;
}

/*----- player2 e player3 -----*/

.player-2, .player-3{
  padding-inline: 28px;
  padding-block: 30.5px;
  background: #2A2141;
  border-radius: 10px;
}

.musicText{
  margin-left: 28px;
}

.musicInfo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 17px;
}

.albumImg-2, .albumImg-3{
  height: 84px;
  width: 84px;
  border-radius: 6px;
}

.play-2{
  margin-bottom: 28px;
}

.play-2, .play-3{
  display: flex;
  justify-content: space-evenly;
  margin-top: 28px;
}

.player-3{
  margin-top: 32px;
}

@media screen and (max-width: 660px) {
  body{
    flex-direction: column;
  }
}